<h1>Edit Comment</h1>
<%= render "shared/navigation_menu" %>

<%= form_for [@comment.photo, @comment], method: :patch do |edit| %>
    <p>
        <%= edit.label :body %><br>
        <%= edit.text_field :body %>
    </p>

    <p>
        <%= edit.submit "Save Changes"%>
    </p>
<% end %>
