<%= render "shared/title_bar" %>
<h2>Edit Comment</h2>

<%= form_for [@comment.photo, @comment], method: :patch do |edit| %>
    <p>
        <%= edit.label :body %><br>
        <%= edit.text_field :body %>
    </p>

    <p>
        <%= edit.submit "Save Changes"%>
    </p>
<% end %>
