<%= form_for :comment, url: '/comments' do |comment| %>
    <p>
        <%= comment.label :body %><br>
        <%= comment.text_field :body %>
        <%= comment.hidden_field :post_id, value: params[:post_id]%>
    </p>
 
    <p>
        <%= comment.submit %>
    </p>
<% end %>