<a href="<%= user_path(comment.user) %>" id="Show User"><%= comment.user.display_name %></a> said:<br>
<%= comment.body %><br>
at <%= comment.created_at.strftime("%H:%M") %> on <%= comment.created_at.strftime("%d/%m/%Y") %>
<%= render "photos/partial_views/comment_user_options",
            photo: photo, comment: comment %>
